@tailwind base;
@tailwind components;
@tailwind utilities;

/* اطمینان از اینکه Tailwind dark mode کار می‌کنه */
:root {
  --text-color: #111827; /* gray-900 */
}

.dark {
  --text-color: #f3f4f6; /* gray-100 */
}

/* فال‌بک برای عناصر خاص */
h1, label {
  color: var(--text-color);
}
